@CHARSET "ISO-8859-1";

#content{
	width: 900px;
	margin: auto 0px; 
}

#header{	
	width: 900px;
	height: 90px;
}

#menu{
	width: 898px;
	height: 20px;
}

#corps{
	width: 898px;
}

.chat{
	width: 600px;
	border: 1px solid black;
	margin: auto;
	background-color: rgb(127,223,232);
}

.chat .user{
	text-align: right;
	padding: 5px;
}

.user input#signin{
	color: blue;
	text-decoration: none;
	background: none;
	border: none;
}

.user input#signin:HOVER{
	text-decoration: underline;
	cursor: pointer;
}

.user input  {
	margin-right: 5px;
}

.user .erreur {
	color: red;
	margin-right: 5px;
}

.messages{
	height: 300px;
	background-color: white;
	padding: 5px;
	overflow: auto;
}

.envoiMsg{
	padding: 7px 5px 5px 5px;

}

#nouveauMsg{
	font: 14px arial, sans-serif;
	width: 400px;
	height: 32px;
}

#nouveauMsgEnvoi{
	height: 36px;
	width: 80px;
}

.chat .envoiMsg .left{
	float: left;
	width: 410px;
	
}
.chat .envoiMsg .right{

	width: 88px;
}

#msgSignIn{
	padding: 8px;
	width: 100%;
}

#deconnexion{
	font: 14px arial, sans-serif;
	color: blue;
	text-decoration: none;
	margin-left: 8px;
}

#deconnexion:hover{
	text-decoration: underline;
	cursor: pointer;
}
